.page-login {
  &-bg {
    background: url(../../assets/bg/login.png) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &-facebook-link {
    display: block;
    height: 45px;
    width: 45px;
    bottom: 26px;
    left: 78px;
    position: absolute;
    cursor: pointer;
  }
}
