.page-login {
  &-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &-facebook-link {
    display: block;
    height: 45px;
    width: 45px;
    bottom: 26px;
    left: 78px;
    position: absolute;
    cursor: pointer;
  }
  &-config-link {
    display: block;
    height: 100px;
    width: 100px;
    top: 95px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    cursor: pointer;
  }
}
