.page-dashboard {
  &-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &-map-link {
    display: block;
    position: absolute;
    top: 180px;
    left: 71px;
    width: 142px;
    height: 46px;
  }
}
