.page-profile {
  &-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 337px;
    width: 100%;
  }
  &-link {
    display: block;
    position: absolute;
    height: 46px;
    cursor: pointer;
    &--lock {
      left: 85px;
      top: 320px;
      width: 45px;
      height: 45px;
    }
    &--unlock {
      left: 24px;
      width: 45px;
      height: 45px;
      top: 320px;
    }
    &--show-modal {
      right: 10px;
      width: 50px;
      top: 100px;
    }
    &--show-modal-item {
      bottom: 36px;
      width: 150px;
      height: 150px;
      left: 22px;
    }
  }
}

.swiper-slide {
  align-items: start;
}
.swiper-slide img {
  width: 100%;
}
