.page-popup {
  &-slides {
    &-first {
      width: 90% !important;
    }
    &-last {
      width: 80% !important;
    }
    &-wrapper {
      width: 350px;
      height: 599px;
      position: absolute;
      left: 33px;
      top: 69px;
    }
  }
  &-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &-back-link {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 142px;
    height: 46px;
    cursor: pointer;
  }
  &-show-link {
    display: block;
    position: absolute;
    bottom: 141px;
    left: 117px;
    width: 150px;
    height: 120px;
    cursor: pointer;
  }
}
