.page-home {
}

.tabs-ios {
  .tab-button {
    min-height: 80px;
    font-size: 12px;
    &-icon {
      font-size: 40px;
      height: 40px;
    }
  }
}

.tabs-ios-dark {
  .tab-button[aria-selected=true] .tab-button-icon {
    color: #d5d5d5;
  }
  .tab-button {
    /*&-text,*/
    &-icon {
      color: #d5d5d5;
    }
  }
}
