.page-ride {
  &-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 193px;
    width: 100%;
  }
  &-link {
    display: block;
    position: absolute;
    height: 46px;
    top: 9px;
    cursor: pointer;
    &--map {
      left: 70px;
      width: 113px;
    }
    &--dashboard {
      right: 66px;
      width: 125px;
    }
  }
}

.swiper-slide {
  align-items: start;
}
.swiper-slide img {
  width: 100%;
}
