.page-ride {
  &-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 173px;
    width: 100%;
  }
  &-link {
    display: block;
    position: absolute;
    height: 46px;
    top: 200px;
    border: 1px solid red;
    cursor: pointer;
    &--map {
      left: 63px;
      width: 102px;
    }
    &--dashboard {
      right: 66px;
      width: 107px;
    }
  }
}

.swiper-slide {
  align-items: start;
}
.swiper-slide img {
  width: 100%;
}
